{% extends "base.html" %}

{% block title %}Building Viewer{% endblock %}

{% block content %}

<head>

    <link href="{{ url_for('static', path='/css/pageStyles.css') }}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</head>

<body>
    <input type="checkbox" id="info-button" />
    <label for="info-button" class="info-button"><i class="far fa-3x fa-question-circle"></i></label>
    <div class="hide">Click here for more information on Xeokit Components.</div>
    <canvas id="myCanvas"></canvas>
    <canvas id="myNavCubeCanvas"></canvas>
    <div id="treeViewContainer"></div>
    <div class="slideout-sidebar">
        <img class="info-icon" src="{{ url_for('static', path='/assets/images/bim_icon.png') }}" />
        <div class="hide">Click here for more information on Xeokit Components.</div>
        <h1>WebIFCLoaderPlugin</h1>
        <h2>Loading an IFC File</h2>
        <p><a href="../../docs/class/src/plugins/WebIFCLoaderPlugin/WebIFCLoaderPlugin.js~WebIFCLoaderPlugin.html"
                target="_other">WebIFCLoaderPlugin</a> is the easiest way to load IFC models into a xeokit Viewer.</p>
        <p>WebIFCLoaderPlugin loads IFC STEP files and parses them within the browser using <a
                href="https://github.com/tomvandig/web-ifc" target="_other">web-ifc</a>, to create 3D objects within the
            Viewer.</p>
        <h3>Limitations</h3>
        <p>Loading and parsing huge IFC STEP files can be slow, and can overwhelm the browser, however. To view your
            largest IFC models, we recommend instead pre-converting those to xeokit's compressed native .XKT format,
            then
            loading them with <a
                href="../../docs/class/src/plugins/XKTLoaderPlugin/XKTLoaderPlugin.js~XKTLoaderPlugin.html"
                target="_other">XKTLoaderPlugin</a>.</p>
        <h3>Stats</h3>
        <ul>
            <li>
                <div id="time">Loading JavaScript modules...</div>
            </li>
        </ul>
        <h3>Components used</h3>
        <ul>
            <li>
                <a href="../../docs/class/src/viewer/Viewer.js~Viewer.html" target="_other">Viewer</a>
            </li>
            <li>
                <a href="../../docs/class/src/plugins/WebIFCLoaderPlugin/WebIFCLoaderPlugin.js~WebIFCLoaderPlugin.html"
                    target="_other">WebIFCLoaderPlugin</a>
            </li>
            <li>
                <a href="../../docs/class/src/plugins/TreeViewPlugin/TreeViewPlugin.js~TreeViewPlugin.html"
                    target="_other">TreeViewPlugin</a>
            </li>
            <li>
                <a href="../../docs/class/src/plugins/NavCubePlugin/NavCubePlugin.js~NavCubePlugin.html"
                    target="_other">NavCubePlugin</a>
            </li>
        </ul>
        <h3>Assets</h3>
        <ul>
            <li>
                <a href="http://openifcmodel.cs.auckland.ac.nz/Model/Details/274" target="_other">Model source</a>
            </li>
        </ul>
    </div>
</body>

{% endblock %}
{% block scripts %}

<script type="module">

    import { Viewer, WebIFCLoaderPlugin, NavCubePlugin, TreeViewPlugin } from "https://cdn.jsdelivr.net/npm/@xeokit/xeokit-sdk/dist/xeokit-sdk.es.min.js";
    import * as WebIFC from "https://cdn.jsdelivr.net/npm/web-ifc@0.0.51/web-ifc-api.js";

    const viewer = new Viewer({
        canvasId: "myCanvas",
        transparent: true,
        dtxEnabled: true // Enable data texture model representation
    });

    viewer.camera.eye = [-3.933, 2.855, 27.018];
    viewer.camera.look = [4.400, 3.724, 8.899];
    viewer.camera.up = [-0.018, 0.999, 0.039];

    new NavCubePlugin(viewer, {
        canvasId: "myNavCubeCanvas",
        visible: true,
        size: 250,
        alignment: "bottomRight",
        bottomMargin: 100,
        rightMargin: 10
    });

    new TreeViewPlugin(viewer, {
        containerElement: document.getElementById("treeViewContainer"),
        autoExpandDepth: 3 // Initially expand the root tree node
    });

    const IfcAPI = new WebIFC.IfcAPI();

    IfcAPI.SetWasmPath("https://cdn.jsdelivr.net/npm/web-ifc@0.0.51/");

    IfcAPI.Init().then(() => {

        const ifcLoader = new WebIFCLoaderPlugin(viewer, {
            WebIFC,
            IfcAPI
        });

        const sceneModel = ifcLoader.load({
            id: "myModel",
            src: "../static/ifc/DuplexFromXeokit.ifc",
            loadMetadata: true, // Default
            excludeTypes: ["IfcSpace"],
            edges: true,
            dtxEnabled: true
        });

        sceneModel.on("loaded", () => {
            viewer.cameraFlight.jumpTo(sceneModel);
        });

        const t0 = performance.now();
        document.getElementById("time").innerHTML = "Loading model...";
        sceneModel.on("loaded", function () {
            const t1 = performance.now();
            document.getElementById("time").innerHTML = "Model loaded in " + Math.floor(t1 - t0) / 1000.0 + " seconds<br>Objects: " + sceneModel.numEntities;
        });

    }).catch((e) => {
        console.error(`Failed to initialize WebIFC: ${e}`);
    })


</script>

{% endblock %}