{% extends 'base.html' %}

{% block title %}
  View Buildings
{% endblock %}

{% block content %}

<head>
  <style>

    .container-box {
      margin-top: 40px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
    }
    .btn-yellow {
      background-color: #FFD700;
      border-color: #FFD700;
      color: black;
      font-weight: bold;
    }
    .btn-yellow:hover {
      background-color: #e6be00;
      border-color: #e6be00;
    }
  </style>
</head>
<body>
  </div>
      <div class="row mb-4">
      <div class="col text-center">
        <h2>Warning another user is currently Modifying this </h2>
      </div>
    </div>
</body>

  
{% endblock %}